
#player.sfe-recording {
    overflow: hidden;
}

.sfe-recording .playerCanvas {
    width: auto;
    height: auto;
}

.sfe-controls {
    margin-top: 10px;
    margin-bottom: 10px;
}

.sfe-control {
    display: inline-block;
    margin-right: 1em;
    vertical-align: bottom;
}

.sfe-input {
    display: block;
    width: 4em;
    margin-top: .5em;
    font-size: inherit;
}

.sfe-control--checkbox .sfe-input {
    float: left;
    width: auto;
    margin: 0;
    margin-top: 2px;
}

.sfe-control--checkbox .sfe-label {
    margin-left: .5em;
}

.sfe-save {
    font-size: inherit;
}
