
#player.slr-recording {
    overflow: hidden;
}

.slr-recording .playerCanvas {
    width: auto;
    height: auto;
}

.slr-controls {
    margin-top: 10px;
}

.slr-label {
    margin-right: .5em;
}

.slr-input {
    width: 4em;
    margin-right: 1em;
}

